@font-face {
	font-family: 'Quicksand';
	src: local('Quicksand'), url('/font/static/Quicksand-Regular.ttf');
}
@font-face {
	font-family: 'QuicksandBold';
	src: local('QuicksandBold'), url('/font/static/Quicksand-Bold.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
main {
	margin: 0 auto;
	font-family: 'Quicksand' !important;
	box-sizing: border-box;
}
